services:
  app:
    image: dunglas/frankenphp:1-php8.4-bookworm
    ports:
      - '8080:80'
    environment:
      MERCURE_PUBLISHER_JWT_KEY: ${MERCURE_PUBLISHER_JWT_KEY}
      CORS_ORIGINS: ${CORS_ORIGINS}
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - ../server:/app
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data:rw

volumes:
  db_data:
